<h1>Login Page</h1>
<form action="/verfyLogin" method="post">
    Enter Mobile Number
    <input type="text" name="umobile" id=""><br><br>

    Enter Password
    <input type="text" name="upassword" id=""><br><br>

    <button>Login</button>
</form>